<!DOCTYPE html>
<html>
	
	<head>
    	<title>Hello, Node with Session !!</title>
  	</head>
	
  	<body>
    	
		<% if (authorized) { %>
		
		<h1>Hello, <%= user_name %> !!</h1>
		<a href="/sign_out">Logout</a>
		
		<% } else { %>
		
		<form method="post" action="/sign_in">
			
			<table>
				
				<tr>
					
					<td><label>ID</label></td>
					<td><input type="text" name="id"></td>
					
				</tr>
				
				<tr>
					
					<td><label>Password</label></td>
					<td><input type="password" name="password"></td>
					
				</tr>
				
				<input type="submit">
				
			</table>
			
		</form>
		
		<% } %>
		
  	</body>
	
</html>
