<!DOCTYPE html>
<html>
	
	<head>
		<title>Trace</title>
	</head>
	
	<body>
		
		<% if ( is_new ) { %>
        
		<p>
			Welcome to Glocery :)
			<br>
			Get some <%= gift %>
		</p>
        
				
		<% } else { %>
        <p>
			Hello, again :D
			<br>
			Get another gift : <%= gift %>
		</p>
		
		
		<% } %>
		
	</body>
	
</html>
